
@model CountriesListViewModel
<h2>@Model.Title</h2>

<ul>

    @foreach (var item in Model.Countries)

    {
          <li>
              <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                  @item.Name
              </a>
         </li>
    }
</ul>



